#app {
    background-color: rgb(59, 202, 221);
    width: 95%;
    max-width: 450px;
    margin: 20px auto;
    border-radius: 12px;
    padding: 8px;
}

#app h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
    display: block;
}

#app input {
    width: 98%;
    height: 50px;
    margin: 15px auto;
    display: block;
    border: 0;
    padding-left: 5px;
    color: white;
    background-color: rgb(44, 69, 207);
    outline: 0;
    font-size: 2rem;
    text-align: center;
}

#app p {
    text-align: center;
    color: white;
    font-size: 1.6rem;
}

ul#list {
    list-style-type: none;
    width: 98%;
    max-width: 450px;
    margin: 0 auto;
}

ul#list li {
    margin: 10px 0;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    max-width: 450px;
}